.contact-page .section-heading {
    margin-bottom: 40px;
    margin-right: 280px;
  }
  .contact-page p {
    margin-bottom: 50px;
  }
  p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
  }