

  .accordion-header {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0;
  }
  
  .accordion-button {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
  }
  .accordion-button:not(.collapsed) {
    color: #f35525;
    background-color: #fafafa;
    outline: none;
  }
 

  .accordion-button {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
  }

* {
  box-sizing: border-box;
}


.accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;

}


 .accordion {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    border-color: none;
    border: none !important;
    max-width: 450px;
  } 



.accordion-item {
  color: var(--bs-accordion-color);

}
.accordion {
  --bs-accordion-border-radius: 10px;

  --bs-accordion-inner-border-radius: 10px;

  --bs-accordion-bg: #fafafa;

  --bs-accordion-border-color: none;

}